html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", Arial;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h2, h3, p {
    cursor: default;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #333333;
    border-radius: 90px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #B50808;
    border-radius: 90px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #E40C0C;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
